.jumbotron{
	text-align: center;
  
	background-size: cover;
	padding-top: 9%;
	padding-bottom: 5%;
    background-position: 0% 50%;
    color: Black;
    text-shadow: red 0.1em 0.1em 0.1em;
	
}
.navbar {
	padding-bottom:0%;
	padding-top: 0.5%;
}

.color1 {
	color: blue;
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: #bbdbe9;
	margin-bottom: 0px;
	margin-top: 100px;
	
}


.btn {
	color:white;
	background-color: black;
}

.btn-100{
	width: 100%;
}

.center{
	text-align: center;
	flex: 1 150px;
	padding: 2px 10px 2px 10px;
	margin-top: 10px;
}

.padding{
	padding-right: 10px;
	color:red;
}

.card {
	background-color: #B2E8CA;
	
}

.background-color {
	background-color: black;
	color: white;
}


.colorb {
	color: black;
	
}