@blue: #386fc2;
@gren: #297d28;

.propedadesFooter(@bottom: 0px, @top: 0px, @colorFuter){

	margin-bottom: @bottom;
	margin-top: @top;
	background-color: @colorFuter;

}

.jumbotron {
  text-align: center;
  background-image: url("imagenes/circuitos-electronicos.jpg");
  background-size: cover;
  padding-top: 9%;
  padding-bottom: 5%;
  background-position: 0% 50%;
  color: Black;
  text-shadow: red 0.1em 0.1em 0.1em; }

.navbar {
  padding-bottom: 0%;
  padding-top: 0.5%; }

.color1 {
  color: blue; }

footer {
  padding: 10px 10px 0px 10px;
  
  .propedadesFooter(0px, 50px, @blue);
 
 }

.btn {
  color: white;
  background-color: black; }

.btn-100 {
  width: 100%; }

.center {
  text-align: center;
  flex: 1 150px;
  padding: 2px 10px 2px 10px;
  margin-top: 10px; }

.padding {
  padding-right: 10px;
  color: red; }

.card {
  background-color: @blue; }

.background-color {
  background-color: black;
  color: white; }

.colorb {
  color: black; }
